body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .game-screen, .mobile-screen, .qr-code-display {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  .congratulation-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: green; /* Change the color based on your preference */
    text-align: center;
    margin: 20px 0;
  }
  